# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

    *List Popular Languages that Data Scientists use
    
    *List Commonly used libraries that Data Scientists use
    
    *List Data Science Tools
    
    *Sample Arithmetic Expression to Multiply and then Add Integer

Some of the popular languages that Data Scientists use are:

    1.R
    
    2.Python
    
    3.SQL
    
    4.Java

Some of the commonly used libraries used by Data Scientists include:
    
    1.TensorFlow
    
    2.NumPy
    
    3.SciPy
    
    4.Scikit-Learn

| Data Science Tools |
--------------------
| TensorFlow |
| Apache SPARK|
| Tableau |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to multiply then add integers

In [6]:
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

## Author
Vishal Krishna P